.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    width: 180px;
    height: 240px;
    background: yellow;
    border: 3px solid yellow;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    position: relative;
}

.card:hover {
    transform: scale(1.08);
    background: black;
    color: white;
    border-color: black;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.card img.front {
    transform: translateX(-50%) rotateY(0deg);
}

.card img.back {
    transform: translateX(-50%) rotateY(180deg);
}

.card:hover img.front {
    transform: translateX(-50%) rotateY(180deg);
}
.card:hover img.back {
    transform: translateX(-50%) rotateY(360deg);
}

.card p {
    margin-top: 170px;
    font-size: 18px;
    font-weight: bold;
}
