body{
    align-items: center;
    top: 50px;
}
.container{
    background-color: black;
    color: white;
    width: 25%; 
    height: 500px;
    border: 2px solid rgb(10, 8, 8); 
    padding: 250px; 
    display: inline-block; 
    vertical-align: top;
    float: center;
    
}
.button{
    text-decoration: none; 
    padding: 5px;
    padding: 15px 5%;
    display: flex;
}
